{% extends 'base.html' %}
{%load static%}
{% block title %}Котенок поворенок - востановление пароля{% endblock %}
{% block link %}
	<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block content %}

	<section class="account">
		<form method="POST" class="account__form">
			<h1 class="account__title">Востановление пароля</h1>
			<h2 class="account__subtitile">Пароль успешно востановлен</h2>
			<a href="{% url 'login' %}" class="account__home-button">Вход в аккаунт</a>
		</form>
	</section>

{% endblock %}