{% extends 'base.html' %}
{%load static%}
{% block title %}Котенок поворенок - смена пароля{% endblock %}
{% block link %}
	<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block content %}

	<section class="account">
		<form method="POST" class="account__form">
			<h1 class="account__title">Смена пароля</h1>
			<h2 class="account__subtitile">Пароль успешно изменен</h2>
			<a href="{% url 'profile' %}" class="account__home-button">Вернуться в профиль</a>
		</form>
	</section>

{% endblock %}