{% extends 'base.html' %}
{%load static%}
{% block title %}Котенок поворенок - востановление пароля{% endblock %}
{% block link %}
	<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block content %}

	<section class="account">
		<form method="POST" class="account__form">
			<h1 class="account__title">Востановление пароля</h1>
			{% csrf_token %}
			<div class="account__field-wrapper">
				<p class="account__text">Введите электронную почту пользователя:</p>
				{{form.email}}
			</div>
			{% if form.errors %}
				<ul class="account__error-list">
					{% for field, errors in form.errors.items %}
						{% for error in errors %}
							<li class="account_error-list-item">{{error}}</li>
						{% endfor %}
					{% endfor %}
				</ul>
			{% endif %}
			<input type="submit" value="Востановить пароль" class="account__button">
		</form>
	</section>

{% endblock %}