{% extends 'base.html' %}
{% load static %}
{% block title %}Котенок поворенок - все рецепты в одном месте{% endblock %}
{% block link %}
	<link rel="stylesheet" href="{% static 'css/content.css' %}">

{% endblock %}


{% block content %}
	<section class="content">
		<h1 class="content__title">Список блюд</h1>
		<div class="content__setup">
			
			<input type="text" name="search" placeholder="Поиск по рецептам" class="content__search" id="search">
			<div class="content__values">
				<div class="content__sort-container">
					<p class="content__title-cat">Сортировка по:</p>
					<select name="sort-by" class="content__sort" id="sort">
						<option value="popular">По популярности</option>
						<option value="time">По времемени</option>
					</select>
				</div>
				<div class="content__category-container">
					<p class="content__title-cat">Категория блюд:</p>
					<select name="category" class="content__category" id='category'>
						<option value="">Не выбрано</option>
						{% for i in sort_list %}
							<option value="{{ i.0 }}">{{ i.1 }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

		<div class="content__main-container">
			{% for item in data %}
				<a class="content__item-card" href="{{ item.get_absolute_url }}">
					<img class="content__recipe-img" src="{{ item.image_url }}" alt="{{ item.title }}">
					<h3>{{ item.title }}</h3>
					<p class="content__recipe-category">{{ item.category }}</p>
					<p class="content__recipe-author">{{ item.owner }}</p>
					<div class="content__complexity">
						<img src="{% static 'img/complexity.png' %}" alt="" class="content__complexity-img">
						<p class="content__complexity-data">{{ item.complexity }}</p>
					</div>
				</a>
			{% endfor %}
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script type="text/javascript">
		let down = false
		let last_count = 0
		let stop_page = false

		function countRecipes() {
			let all_recipes = document.querySelectorAll(".content__item-card")
			return all_recipes.length
		}
		function updateData() {
			$.ajax({
		        url: '{% url "home" %}',
		        method: 'POST',
		        data: {
		        	'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(), //получение CSRF токена
		            'recipes_need': countRecipes() + 6,
		            'search_name': document.querySelector('#search').value,
		            'category_data': document.querySelector('#category').value,
		            'sort_by': document.querySelector('#sort').value

		        },
		        success: function(response) {
		        	down = false
		            document.querySelector('.content__main-container').innerHTML =response
		        }
		    })
		}

		window.addEventListener('scroll', () => {
			if (stop_page) { return }
			if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight && down == false) {
		        down = true
		        let count = countRecipes()
		        if (count == last_count) {
 					stop_page = true
 					return
		        }
		        last_count = count
		    	updateData()   	
		    }
		});
		document.querySelector('#search').addEventListener('input', function(event) {
		    updateData()
		});
		document.querySelector('#category').addEventListener('change', function(event) {
		    updateData()
		});
		document.querySelector('#sort').addEventListener('change', function(event) {
		    updateData()
		});

		$.ajaxSetup({ data: {csrfmiddlewaretoken: '{{ csrf_token }}' },}); //Устанавливаю CSRF
	</script>

{% endblock %}